<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tperformant</name>
	<displayName><![CDATA[2Performant tracking code]]></displayName>
	<version><![CDATA[0.1.0]]></version>
	<description><![CDATA[This module implements the 2Performant tracking code from the 2Performant.com affiliate network]]></description>
	<author><![CDATA[tetele]]></author>
	<tab><![CDATA[checkout]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the module? This will prevent commission generation]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>